<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Budget Planner</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size-md="6" offset-md="3">
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>New Expense</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-item>
                            <ion-label position="floating">Expense Reason</ion-label>
                            <ion-input type="text" [(ngModel)]="expenseReason"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Expense Amount</ion-label>
                            <ion-input type="number" [(ngModel)]="expenseAmount"></ion-input>
                        </ion-item>
                        <div margin-vertical text-right>
                            <ion-button fill="outline" color="danger" (click)="onClear()">
                                <ion-icon slot="start" name="close"></ion-icon>Clear
                            </ion-button>
                            <ion-button (click)="onAddExpense()">
                                <ion-icon slot="start" name="add"></ion-icon>Add Expense
                            </ion-button>
                        </div>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size-md="6" offset-md="3">
                <ion-list *ngFor="let expense of expenseList">{{expense.expenseReason}} {{expense.expenseAmount}}</ion-list>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size-md="6" offset-md="3">
                <b margin>{{totalExpense}}</b>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>